<div class="main-report">
    <div class="company-content">
        <div class="company-heading heading">
            <span>The Honest Company, Inc.</span>
        </div>
        <div class="background-circle">
        </div>
        <div class="company-info"> 
            <div class="company-detail-row">
                <div class="company-detail-col-2">
                    <div class="company-detail-label">
                        <span>Doing Business as</span>
                    </div>
                    <div class="company-detail-info">
                        <span class="company-dba">
                            The Honest Company
                        </span>
                    </div>
                </div>
            </div>
            <div class="company-detail-row">
                <div class="company-detail-col-2">
                    <div class="company-detail-label">
                        <span>Address</span>
                    </div>
                    <div class="company-detail-info">
                        <span>
                            12130 Millennium Dr, Los Angeles, CA 90094
                        </span>
                    </div>
                </div>
            </div>
            <div class="company-detail-row">
                <div class="company-detail-col-1">
                    <div class="company-detail-label">
                        <span>Phone Number</span>
                    </div>
                    <div class="company-detail-info">
                        <span>
                            honest.com
                        </span>
                    </div>
                </div>
                <div class="company-detail-col-1">
                    <div class="company-detail-label">
                        <span>Website</span>
                    </div>
                    <div class="company-detail-info website-container">
                        <span class="website-cell">
                            honest.com
                        </span>
                        <div class="website-link-container website-cell">
                            <div class="website-link">
                                <i class="fa  fa-arrow-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>


{{outlet}}