<div class="main-report">
    <div class="company-content">
        <div class="company-heading heading">
            <span>The Honest Company, Inc.</span>
        </div>
        <div class="background-circle">
        </div>
    </div>
</div>


{{outlet}}